<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <%- include menu %>
  
  <p style="color: green;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque et unde a ut pariatur voluptatem. Fugiat atque quis tempora cum aperiam tempore magni minima suscipit fugit, rerum culpa ab!
    Minus in, enim excepturi error quidem recusandae aliquam rerum? Aspernatur consequatur ea minima, unde delectus dicta voluptas sint at aliquam nemo, perspiciatis nobis possimus vero. Temporibus ad eum commodi dolorum.
    Autem repellendus quasi, qui praesentium sequi dolorem neque labore beatae, magni nam reprehenderit libero pariatur eos quibusdam quisquam incidunt. Iusto consequuntur optio placeat officiis! Adipisci, praesentium repellendus! In, sapiente molestias?
    Praesentium quaerat quasi odit exercitationem accusamus, sapiente tempora, nostrum perspiciatis nemo eius temporibus ut beatae iste, voluptatum architecto neque nisi excepturi fugit fugiat placeat quae unde! Voluptates dolores quo ratione.
    Itaque ad fuga nobis exercitationem maiores tenetur quas quasi, optio non consequatur ducimus fugiat, cum id nesciunt quo error tempore magni, saepe totam. Corporis blanditiis similique in eos, dolorem magni.
    Cupiditate odio, incidunt, ipsa sed commodi id rerum eius tempore in, magni consequatur itaque. Accusantium explicabo soluta asperiores quod earum cumque aperiam. Illo accusamus libero nemo nulla quas molestiae excepturi!
    Modi, minima quibusdam deleniti ut accusantium aspernatur molestias consequuntur sed nam similique deserunt hic iste blanditiis autem cupiditate, quae voluptate ducimus! Sit impedit inventore labore explicabo tenetur voluptates aliquid quasi?
    Aliquid neque magni dolorum quam totam exercitationem earum, quis quaerat vitae fugiat vel, aperiam placeat? Aspernatur maiores reiciendis blanditiis ipsum facere sunt repudiandae culpa vel eligendi vero quia, quibusdam velit.
    Omnis exercitationem, odit itaque vitae expedita accusamus recusandae asperiores ullam excepturi nisi provident, natus quidem officia laudantium reprehenderit newiet perferendis, molestias necessitatibus quas mollitia error amet? Repellat, perferendis. Fuga, laudantium!
    Harum et, excepturi alias quaerat corporis at itaque quas? Porro, quasi perferendis. Praesentium et impedit molestias omnis numquam, voluptatem qui excepturi, harum dolore quaerat unde reprehenderit eum officiis molestiae totam!
    Nemo architecto dignissimos itaque maiores, nihil harum repudiandae eum perspiciatis totam placeat doloribus quis sit velit debitis inventore veritatis labore repellat mollitia esse expedita molestias delectus explicabo. Architecto, explicabo autem?
    Animi sunt vitae illum, unde dolore expedita corporis ad facilis quis dolor illo, temporibus ab pariatur sapiente et, quibusdam soluta? Ipsa eligendi perferendis eveniet, suscipit tempora nisi aspernatur alias adipisci.
    Maiores deserunt facere praesentium, consequuntur veritatis dignissimos quia voluptate repellendus. Cum repellat quisquam, maxime assumenda libero dolor magnam velit laudantium, enim, quos ab. Quod voluptate natus rem quae. Aperiam, debitis.
    Tempora illum corrupti rerum libero quia voluptates quisquam vero autem magni fuga ab repudiandae qui accusantium, officiis tenetur nam at? Ipsa quis ea iste culpa praesentium reiciendis neque provident facilis.
    Facilis tempore laborum dolorum rerum, adipisci dicta quod nam vitae veniam! Doloremque nobis dicta asperiores ex nesciunt provident dolor cupiditate magni. Inventore blanditiis ut voluptatum totam quasi quia temporibus est!
    Atque, aperiam omnis expedita itaque voluptas adipisci, ab enim cupiditate tempora eos nam officiis dolores, obcaecati corporis voluptatem rerum amet fugiat est assumenda. Quasi ratione eaque non perspiciatis reprehenderit repudiandae!
    Eveniet nihil repudiandae cum voluptatum quis sit hic sint distinctio, nam recusandae ex nobis qui labore, quo esse dolor beatae et facilis eum corporis culpa minus, non officia? Repudiandae, quia?
    Sed quae quaerat explicabo eligendi corrupti voluptates eum rerum quos ullam distinctio tempore nemo, aspernatur cum. Cum, minus distinctio repellat laboriosam culpa sed impedit quas modi eligendi iure temporibus labore.
    Doloremque, eum! Voluptas et molestiae dolore, necessitatibus numquam earum optio unde id, cupiditate totam consequatur dolorum dicta, sapiente placeat! Deserunt laboriosam, possimus ex numquam a quis. Accusamus fugiat repellat recusandae!
    Deserunt culpa natus nisi corporis! Fugit, alias vel corrupti consequuntur omnis molestiae itaque praesentium quisquam? Explicabo, nemo, quis tenetur quisquam molestias exercitationem in facilis voluptates praesentium esse, ex ut magni.
  </p>

  <%- include footer%>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>