<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <%- include menu %>
    
    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, fugiat!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sit aut sequi reprehenderit ducimus dolore eos veniam laboriosam labore cumque rem reiciendis esse nam sed, blanditiis sunt numquam? Fugiat, provident.
    Debitis ad nulla numquam deleniti eligendi. Maiores iusto quas, voluptatum repudiandae rem saepe architecto error explicabo dolorum ad assumenda facilis placeat quidem. Suscipit accusamus quis doloremque libero voluptates, facere inventore.
    Ullam minima eaque at, possimus rerum sunt porro repudiandae officiis excepturi necessitatibus! Labore at ad, deserunt dignissimos repudiandae error! Ab quam obcaecati adipisci. Error magni quis adipisci, dolores labore veritatis?
    Dicta suscipit animi odit voluptas, labore id beatae quisquam reiciendis molestias ullam alias repellat quia nisi illo quas ipsa commodi, est ex maxime quo quibusdam debitis cumque? Voluptates, necessitatibus harum.
    Sunt quis aspernatur, facere repellendus quod rerum molestiae nulla! Quisquam quis iste saepe nihil, tenetur adipisci? Magnam at nobis ipsum vel, expedita eveniet quod, voluptatem molestias eum, et necessitatibus itaque.</p>

</body>
</html>